In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from math import ceil
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import warnings
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, f1_score, roc_auc_score
from sklearn.preprocessing import QuantileTransformer



def count1(df):
    result=[]
    index=df.index.tolist()
    for i in index:
        x=df.loc[i].sum()
        result.append(x-1)
    return result

def vcl_tr(df):
    df_=df.loc[:, 'VCL1':'VCL16']
    result=[]
    index=df_.index.tolist()
    for i in index:
        x=df_.loc[i].sum()
        if(x>=9):
            result.append(1)
        else:
            result.append(0)
    train['VCL_M']=result
    
def vcl_te(df):
    df_=df.loc[:, 'VCL1':'VCL16']
    result=[]
    index=df_.index.tolist()
    for i in index:
        x=df_.loc[i].sum()
        if(x>=9):
            result.append(1)
        else:
            result.append(0)
    test['VCL_M']=result

def count0(df):
    result=[]
    index=df.index.tolist()
    for i in index:
        x=df.loc[i].sum()
        result.append(x-1)
    return result


def q_tr(df):
    df_=df.loc[:, 'Q1':'Q26']
    result=[]
    index=df_.index.tolist()
    for i in index:
        x=df_.loc[i].tolist()
        re=0
        for j in x:
            re+=((j-1)/4)*100
        result.append(re/(len(x)-1))
    train['Q_m']=result
    
def q_te(df):
    df_=df.loc[:, 'Q1':'Q26']
    result=[]
    index=df_.index.tolist()
    for i in index:
        x=df_.loc[i].tolist()
        re=0
        for j in x:
            re+=((j-1)/4)*100
        result.append(re/(len(x)-1))
    test['Q_m']=result

In [2]:
#https://dacon.io/codeshare/1877
sample = pd.read_csv('sample_submission.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [3]:
country_map = {}

for i, c in enumerate(train['country'].unique()):
    country_map[c] = i

In [4]:
train['country'] = train['country'].map(country_map)
test['country'] = test['country'].map(country_map) #country열 Mapping

In [5]:
test = test.fillna(0)
train = train.fillna(0)#test 결측치 0으로 채우기

### vcl feature

In [6]:
vcl=train.iloc[:,[41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,69]]

In [7]:
vcl_1=vcl[vcl['nerdiness']==1]
vcl_0=vcl[vcl['nerdiness']==0]

In [8]:
result1=[]
result0=[]
result1=count1(vcl_1)
result0=count0(vcl_0)

In [9]:
print(np.mean(result1))
print(np.mean(result0))

10.489582078766711
8.887412274152606

In [10]:
vcl_tr(train)
vcl_te(test)

In [11]:
train=train.drop(train.loc[:,'VCL1':'VCL16'],axis=1)
test=test.drop(test.loc[:,'VCL1':'VCL16'],axis=1)

### question

In [12]:
q_tr(train)
q_te(test)

In [13]:
train

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,hand,religion,orientation,voted,married,familysize,ASD,nerdiness,VCL_M,Q_m
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1,0,69.0
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1,1,59.0
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1,1,70.0
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1,1,65.0
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0,0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,2.0,5.0,4.0,3.0,3.0,4.0,4.0,4.0,3.0,...,1.0,1.0,3.0,2.0,1.0,3.0,2.0,0,1,61.0
14996,14996,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,...,1.0,3.0,1.0,1.0,2.0,3.0,2.0,1,0,79.0
14997,14997,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,...,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1,1,94.0
14998,14998,5.0,5.0,4.0,5.0,5.0,5.0,5.0,1.0,5.0,...,1.0,12.0,4.0,2.0,2.0,2.0,1.0,0,1,81.0
14999,14999,5.0,4.0,2.0,5.0,2.0,2.0,4.0,2.0,4.0,...,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1,1,63.0

In [14]:
train=train.drop('index',axis=1)
test=test.drop('index',axis=1)

In [15]:

x_train = train.drop('nerdiness',axis=1)
y_train = train['nerdiness']

x_test = test #index와 nerdiness열 제외

In [16]:

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=42, n_jobs=-1)

from sklearn.model_selection import KFold, GridSearchCV #하이퍼파라미터 튜닝을 위한 불러오기
from sklearn.metrics import accuracy_score

model_param_grid = {'n_estimators' : [100, 1000, 3000]} # Default(100)대비 큰값으로 Dictionary구성

model_grid = GridSearchCV(model, param_grid = model_param_grid, scoring="accuracy",n_jobs=-1,verbose=1) #훈련 (장치 사양에 따라 시간이 걸릴 수 있음)
model_grid.fit(x_train, y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits

GridSearchCV(estimator=RandomForestClassifier(n_jobs=-1, random_state=42),
             n_jobs=-1, param_grid={'n_estimators': [100, 1000, 3000]},
             scoring='accuracy', verbose=1)

In [17]:
gcv=GridSearchCV(model, param_grid=model_param_grid, scoring='f1', n_jobs=-1)

In [18]:
gcv.fit(x_train.values,y_train.values)
print('final params', gcv.best_params_)   # 최적의 파라미터 값 출력

model = RandomForestClassifier(n_estimators=3000, random_state=42, n_jobs=-1)

model.fit(x_train, y_train) #학습

final params {'n_estimators': 1000}

RandomForestClassifier(n_estimators=3000, n_jobs=-1, random_state=42)

In [19]:
pred = model.predict_proba(x_test)[:,1] #proba를 통해 확률값으로 변환

In [20]:
sample['nerdiness'] = pred

In [21]:
sample['nerdiness']=sample['nerdiness'].round(2)
sample['nerdiness']=sample['nerdiness'].round(1)
sample['nerdiness']=sample['nerdiness'].round(0)

In [22]:
sample[sample['nerdiness']<0]

Empty DataFrame
Columns: [index, nerdiness]
Index: []

In [23]:
sample.to_csv('result8.5_3.csv',index=False)

In [24]:
sample['nerdiness'].sum()

19687.0

In [25]:
sample

       index  nerdiness
0          0        0.0
1          1        1.0
2          2        1.0
3          3        1.0
4          4        1.0
...      ...        ...
35447  35447        1.0
35448  35448        1.0
35449  35449        1.0
35450  35450        0.0
35451  35451        1.0

[35452 rows x 2 columns]