In [84]:
import pandas as pd
import numpy as np
from scipy import stats
from math import ceil
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import warnings
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, f1_score, roc_auc_score
from sklearn.preprocessing import QuantileTransformer

In [85]:
sample = pd.read_csv('sample_submission.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [87]:
train.isna().sum()

index           0
Q1             41
Q2             69
Q3             50
Q4             71
             ...
voted          85
married        82
familysize    319
ASD            89
nerdiness       0
Length: 70, dtype: int64

In [88]:
train_=train.loc[:, 'Q1':'Q26']
train_['nerdiness']=train['nerdiness']
train=train_
test=test.loc[:, 'Q1':'Q26']

In [89]:
train_.isna().sum()

Q1           41
Q2           69
Q3           50
Q4           71
Q5           38
Q6           48
Q7           76
Q8           48
Q9           56
Q10          72
Q11          59
Q12          67
Q13          40
Q14          36
Q15          45
Q16          33
Q17          37
Q18          63
Q19          53
Q20          45
Q21          39
Q22          38
Q23          50
Q24          61
Q25          44
Q26          68
nerdiness     0
dtype: int64

In [83]:
train=train.fillna(0)
test=test.fillna(0)

In [73]:
train_q0=train[train['Q1']==0.0]
train_q1=train[train['Q1']!=0.0]
test_=train_q0
#결과 없는 test
train_=train_q1
#결과 들어가있는 train
test_=test_.drop('Q1',axis=1)
import xgboost
from xgboost import XGBRegressor
from xgboost import XGBRegressor as model


y = train_['Q1']
x= train_.drop('Q1',axis =1)
model = XGBRegressor(objective='reg:squarederror',learning_rate=0.1,max_depth = 4, n_estimators = 1000)
model.fit(x, y)
pred = model.predict(test_)      

pred=pred.round(0)
pred=pred.tolist()
for i in range(len(pred)):
    if(pred[i]<=0):
        pred[i]=1

        print(len(pred))
index=test_.index.tolist()
index
print(len(index))
for i in range(len(index)):
    train.at[index[i],'Q1']=pred[i]

41
41
41
41
41
41
41
41
41

In [74]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 27 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Q1         15000 non-null  float64
 1   Q2         15000 non-null  float64
 2   Q3         15000 non-null  float64
 3   Q4         15000 non-null  float64
 4   Q5         15000 non-null  float64
 5   Q6         15000 non-null  float64
 6   Q7         15000 non-null  float64
 7   Q8         15000 non-null  float64
 8   Q9         15000 non-null  float64
 9   Q10        15000 non-null  float64
 10  Q11        15000 non-null  float64
 11  Q12        15000 non-null  float64
 12  Q13        15000 non-null  float64
 13  Q14        15000 non-null  float64
 14  Q15        15000 non-null  float64
 15  Q16        15000 non-null  float64
 16  Q17        15000 non-null  float64
 17  Q18        15000 non-null  float64
 18  Q19        15000 non-null  float64
 19  Q20        15000 non-null  float64
 20  Q21        15000 non-null  float64
 21  Q22        15000 non-null  float64
 22  Q23        15000 non-null  float64
 23  Q24        15000 non-null  float64
 24  Q25        15000 non-null  float64
 25  Q26        15000 non-null  float64
 26  nerdiness  15000 non-null  int64
dtypes: float64(26), int64(1)
memory usage: 3.1 MB

In [79]:
train[train['Q4']==0]

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,nerdiness
207,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
861,4.0,5.0,5.0,0.0,5.0,4.0,5.0,3.0,5.0,5.0,...,5.0,4.0,5.0,5.0,5.0,5.0,0.0,5.0,5.0,1
952,3.0,4.0,4.0,0.0,5.0,3.0,4.0,4.0,5.0,5.0,...,4.0,4.0,4.0,1.0,2.0,3.0,5.0,3.0,4.0,1
964,5.0,4.0,5.0,0.0,4.0,1.0,5.0,5.0,3.0,3.0,...,3.0,5.0,1.0,4.0,1.0,1.0,4.0,4.0,4.0,0
1076,1.0,4.0,4.0,0.0,3.0,3.0,4.0,5.0,3.0,3.0,...,5.0,3.0,2.0,2.0,2.0,5.0,2.0,1.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13947,5.0,5.0,5.0,0.0,5.0,4.0,5.0,5.0,5.0,5.0,...,5.0,5.0,3.0,2.0,1.0,5.0,5.0,5.0,5.0,1
14099,5.0,3.0,5.0,0.0,2.0,3.0,2.0,1.0,3.0,3.0,...,1.0,5.0,2.0,2.0,1.0,2.0,3.0,5.0,3.0,0
14629,3.0,4.0,5.0,0.0,4.0,2.0,1.0,5.0,2.0,5.0,...,3.0,1.0,5.0,1.0,1.0,5.0,1.0,1.0,4.0,0
14663,5.0,5.0,4.0,0.0,5.0,4.0,4.0,1.0,5.0,5.0,...,4.0,5.0,4.0,1.0,2.0,4.0,5.0,4.0,5.0,1
14825,4.0,5.0,4.0,0.0,5.0,3.0,5.0,5.0,0.0,5.0,...,5.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,0