In [97]:
import pandas as pd
import numpy as np
from scipy import stats
from math import ceil
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import warnings
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, f1_score, roc_auc_score
from sklearn.preprocessing import QuantileTransformer

In [98]:
#https://dacon.io/codeshare/1877
sample = pd.read_csv('sample_submission.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [99]:
country_map = {}
for i, c in enumerate(train['country'].unique()):
    country_map[c] = i

In [100]:
train['country'] = train['country'].map(country_map)
test['country'] = test['country'].map(country_map) #country열 Mapping

In [101]:
test = test.fillna(0)
train = train.fillna(0)#test 결측치 0으로 채우기

In [102]:
'''
x_train = train.loc[:, 'Q1':'ASD']
y_train = train['nerdiness']

x_test = test.loc[:, 'Q1':'ASD'] #index와 nerdiness열 제외

'''

"\nx_train = train.loc[:, 'Q1':'ASD']\ny_train = train['nerdiness']\n\nx_test = test.loc[:, 'Q1':'ASD'] #index와 nerdiness열 제외\n\n"

In [103]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 70 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         15000 non-null  int64
 1   Q1            15000 non-null  float64
 2   Q2            15000 non-null  float64
 3   Q3            15000 non-null  float64
 4   Q4            15000 non-null  float64
 5   Q5            15000 non-null  float64
 6   Q6            15000 non-null  float64
 7   Q7            15000 non-null  float64
 8   Q8            15000 non-null  float64
 9   Q9            15000 non-null  float64
 10  Q10           15000 non-null  float64
 11  Q11           15000 non-null  float64
 12  Q12           15000 non-null  float64
 13  Q13           15000 non-null  float64
 14  Q14           15000 non-null  float64
 15  Q15           15000 non-null  float64
 16  Q16           15000 non-null  float64
 17  Q17           15000 non-null  float64
 18  Q18           15000 non-null  float64
 19  Q19           15000 non-null  float64
 20  Q20           15000 non-null  float64
 21  Q21           15000 non-null  float64
 22  Q22           15000 non-null  float64
 23  Q23           15000 non-null  float64
 24  Q24           15000 non-null  float64
 25  Q25           15000 non-null  float64
 26  Q26           15000 non-null  float64
 27  country       15000 non-null  int64
 28  introelapse   15000 non-null  int64
 29  testelapse    15000 non-null  int64
 30  surveyelapse  15000 non-null  int64
 31  TIPI1         15000 non-null  float64
 32  TIPI2         15000 non-null  float64
 33  TIPI3         15000 non-null  float64
 34  TIPI4         15000 non-null  float64
 35  TIPI5         15000 non-null  float64
 36  TIPI6         15000 non-null  float64
 37  TIPI7         15000 non-null  float64
 38  TIPI8         15000 non-null  float64
 39  TIPI9         15000 non-null  float64
 40  TIPI10        15000 non-null  float64
 41  VCL1          15000 non-null  int64
 42  VCL2          15000 non-null  int64
 43  VCL3          15000 non-null  int64
 44  VCL4          15000 non-null  int64
 45  VCL5          15000 non-null  int64
 46  VCL6          15000 non-null  int64
 47  VCL7          15000 non-null  int64
 48  VCL8          15000 non-null  int64
 49  VCL9          15000 non-null  int64
 50  VCL10         15000 non-null  int64
 51  VCL11         15000 non-null  int64
 52  VCL12         15000 non-null  int64
 53  VCL13         15000 non-null  int64
 54  VCL14         15000 non-null  int64
 55  VCL15         15000 non-null  int64
 56  VCL16         15000 non-null  int64
 57  education     15000 non-null  float64
 58  urban         15000 non-null  int64
 59  gender        15000 non-null  float64
 60  engnat        15000 non-null  float64
 61  age           15000 non-null  int64
 62  hand          15000 non-null  float64
 63  religion      15000 non-null  float64
 64  orientation   15000 non-null  float64
 65  voted         15000 non-null  float64
 66  married       15000 non-null  float64
 67  familysize    15000 non-null  float64
 68  ASD           15000 non-null  float64
 69  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(24)
memory usage: 8.0 MB

In [104]:

for i in range(27,68,1):
    train=train.drop(train.columns[26],axis=1)
    test=test.drop(test.columns[26],axis=1)

In [105]:

train=train.drop(columns=['index','familysize','ASD'],axis=1)



test=test.drop(columns=['index','familysize','ASD'],axis=1)

In [108]:

y_train=train['nerdiness']
x_train=train.drop('nerdiness',axis=1)
x_test = test

In [109]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=42, n_jobs=-1)

from sklearn.model_selection import KFold, GridSearchCV #하이퍼파라미터 튜닝을 위한 불러오기
from sklearn.metrics import accuracy_score

model_param_grid = {'n_estimators' : [100, 1000, 3000]} # Default(100)대비 큰값으로 Dictionary구성

model_grid = GridSearchCV(model, param_grid = model_param_grid, scoring="accuracy",n_jobs=-1,verbose=1) #훈련 (장치 사양에 따라 시간이 걸릴 수 있음)
model_grid.fit(x_train, y_train)

pred = model_grid.predict_proba(x_test)[:,1] #proba를 통해 확률값으로 변환

sample['nerdiness'] = pred
'''
cv=KFold(n_splits=6, random_state=42) #교차검증

gcv=GridSearchCV(model, param_grid=model_param_grid, cv=cv, scoring='f1', n_jobs=-1)

gcv.fit(x_train.values,y_train.values)
print('final params', gcv.best_params_)   # 최적의 파라미터 값 출력

model = RandomForestClassifier(n_estimators=3000, random_state=42, n_jobs=-1)

model.fit(x_train, y_train) #학습

pred = model.predict_proba(x_test)[:,1] #proba를 통해 확률값으로 변환

submission['nerdiness'] = pred

'''

Fitting 5 folds for each of 3 candidates, totalling 15 fits

"\ncv=KFold(n_splits=6, random_state=42) #교차검증\n\ngcv=GridSearchCV(model, param_grid=model_param_grid, cv=cv, scoring='f1', n_jobs=-1)\n\ngcv.fit(x_train.values,y_train.values)\nprint('final params', gcv.best_params_)   # 최적의 파라미터 값 출력\n\nmodel = RandomForestClassifier(n_estimators=3000, random_state=42, n_jobs=-1)\n\nmodel.fit(x_train, y_train) #학습\n\npred = model.predict_proba(x_test)[:,1] #proba를 통해 확률값으로 변환\n\nsubmission['nerdiness'] = pred\n\n"

In [110]:
sample['nerdiness']=sample['nerdiness'].round(0)

In [111]:
sample.to_csv('result8.3_2.csv',index=False)

In [112]:
sample

       index  nerdiness
0          0        0.0
1          1        1.0
2          2        1.0
3          3        1.0
4          4        1.0
...      ...        ...
35447  35447        1.0
35448  35448        1.0
35449  35449        1.0
35450  35450        0.0
35451  35451        1.0

[35452 rows x 2 columns]

In [ ]:
import xgboost# index introelapse orientation
from xgboost import XGBRegressor
from xgboost import XGBRegressor as model
from lightgbm import LGBMClassifier

y = train['nerdiness']
x= train.drop('nerdiness',axis =1)
model = XGBRegressor(objective='reg:squarederror',learning_rate=0.1,max_depth = 4, n_estimators = 1000)
model.fit(x, y)
pred = model.predict(test)      ㄴ
pred = pd.DataFrame(pred, columns=['nerdiness'])
pred['nerdiness'].tolist()

In [ ]:
plt.figure(figsize=(50,50))
sns.heatmap(data = train.corr(), annot=True, 
fmt = '.2f', linewidths=.5, cmap='Blues')

In [37]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 68 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q1            15000 non-null  float64
 1   Q2            15000 non-null  float64
 2   Q3            15000 non-null  float64
 3   Q4            15000 non-null  float64
 4   Q5            15000 non-null  float64
 5   Q6            15000 non-null  float64
 6   Q7            15000 non-null  float64
 7   Q8            15000 non-null  float64
 8   Q9            15000 non-null  float64
 9   Q10           15000 non-null  float64
 10  Q11           15000 non-null  float64
 11  Q12           15000 non-null  float64
 12  Q13           15000 non-null  float64
 13  Q14           15000 non-null  float64
 14  Q15           15000 non-null  float64
 15  Q16           15000 non-null  float64
 16  Q17           15000 non-null  float64
 17  Q18           15000 non-null  float64
 18  Q19           15000 non-null  float64
 19  Q20           15000 non-null  float64
 20  Q21           15000 non-null  float64
 21  Q22           15000 non-null  float64
 22  Q23           15000 non-null  float64
 23  Q24           15000 non-null  float64
 24  Q25           15000 non-null  float64
 25  Q26           15000 non-null  float64
 26  country       15000 non-null  int64
 27  introelapse   15000 non-null  int64
 28  testelapse    15000 non-null  int64
 29  surveyelapse  15000 non-null  int64
 30  TIPI1         15000 non-null  float64
 31  TIPI2         15000 non-null  float64
 32  TIPI3         15000 non-null  float64
 33  TIPI4         15000 non-null  float64
 34  TIPI5         15000 non-null  float64
 35  TIPI6         15000 non-null  float64
 36  TIPI7         15000 non-null  float64
 37  TIPI8         15000 non-null  float64
 38  TIPI9         15000 non-null  float64
 39  TIPI10        15000 non-null  float64
 40  VCL1          15000 non-null  int64
 41  VCL2          15000 non-null  int64
 42  VCL3          15000 non-null  int64
 43  VCL4          15000 non-null  int64
 44  VCL5          15000 non-null  int64
 45  VCL6          15000 non-null  int64
 46  VCL7          15000 non-null  int64
 47  VCL8          15000 non-null  int64
 48  VCL9          15000 non-null  int64
 49  VCL10         15000 non-null  int64
 50  VCL11         15000 non-null  int64
 51  VCL12         15000 non-null  int64
 52  VCL13         15000 non-null  int64
 53  VCL14         15000 non-null  int64
 54  VCL15         15000 non-null  int64
 55  VCL16         15000 non-null  int64
 56  education     15000 non-null  float64
 57  urban         15000 non-null  int64
 58  gender        15000 non-null  float64
 59  engnat        15000 non-null  float64
 60  age           15000 non-null  int64
 61  hand          15000 non-null  float64
 62  religion      15000 non-null  float64
 63  orientation   15000 non-null  float64
 64  voted         15000 non-null  float64
 65  married       15000 non-null  float64
 66  familysize    15000 non-null  float64
 67  ASD           15000 non-null  float64
dtypes: float64(46), int64(22)
memory usage: 7.8 MB