In [84]:
import pandas as pd
import numpy as np
from scipy import stats
from math import ceil
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import warnings
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, f1_score, roc_auc_score
from sklearn.preprocessing import QuantileTransformer



def count1(df):
    result=[]
    index=df.index.tolist()
    for i in index:
        x=df.loc[i].sum()
        result.append(x-1)
    return result



def count0(df):
    result=[]
    index=df.index.tolist()
    for i in index:
        x=df.loc[i].sum()
        result.append(x-1)
    return result

In [85]:
#https://dacon.io/codeshare/1877
sample = pd.read_csv('sample_submission.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [86]:
country_map = {}

for i, c in enumerate(train['country'].unique()):
    country_map[c] = i
    
country_map = {}

for i, c in enumerate(train['country'].unique()):
    country_map[c] = i
    
train['country'] = train['country'].map(country_map)
test['country'] = test['country'].map(country_map) #country열 Mapping
test = test.fillna(0)
train = train.fillna(0)#test 결측치 0으로 채우기
test = test.fillna(0)
train = train.fillna(0)#test 결측치 0으로 채우기

In [87]:
Question_tr=train.loc[:, 'Q1':'Q26']
Question_tr['nerdiness']=train['nerdiness']

Question_te=test.loc[:, 'Q1':'Q26']

In [88]:
q1=count1(Question_tr[Question_tr['nerdiness']==1])
q0=count0(Question_tr[Question_tr['nerdiness']==0])

In [89]:
np.mean(q1)

102.20173431289895

In [90]:
np.mean(q0)

87.0280722711662


>마케팅조사에서 특정대상 혹은 사안에 대한 소비자 인식 혹은 태도를 측정하기 위해 가장 널리 쓰이는 척도 중 하나가 바로 리커드척도(Likert Scale)와 어의차이척도(Semantic Differenital Scale)이다. 리커트 척도는 척도항목별로 해당항목의 의미를 부여하는 것이며, 어의차이척도는 척도구성항목의 가장 큰 값과 작은 값에만 의미를 부여하는 것이다. 예를 들어 브랜드 호감도를 측정한다고 할 때 리커트 척도는 '1. 전혀 호감이 가지 않는다 2. 별로 호감이 가지 않는 편이다. 3. 보통이다 4. 호감이 가는 편이다 5. 매우 호감이 간다'로 구성이 되지만, 어의차이 척도에서는 1과 5에만 의미를 부여해 주고 2, 3, 4에는 의미를 부여해 주지 않는다. 실무에서는 리커트척도나 어의차이척도를 100점 환산해서 분석하는 경우가 많으며, 이러한 척도항목의 100점 환산공식은 아래와 같다.

>* 척도항목의 100점 환산공식 - [(응답치-1)/(척도항목수-1)]*100

In [91]:
train_=train.loc[:, 'Q1':'Q26']
x=train_.loc[1]
x=x.tolist()

In [92]:
train

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,engnat,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,1.0,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,1.0,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,2.0,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,1.0,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,2.0,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,2.0,5.0,4.0,3.0,3.0,4.0,4.0,4.0,3.0,...,1.0,17,1.0,1.0,3.0,2.0,1.0,3.0,2.0,0
14996,14996,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,...,2.0,45,1.0,3.0,1.0,1.0,2.0,3.0,2.0,1
14997,14997,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,...,1.0,20,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1
14998,14998,5.0,5.0,4.0,5.0,5.0,5.0,5.0,1.0,5.0,...,1.0,29,1.0,12.0,4.0,2.0,2.0,2.0,1.0,0
14999,14999,5.0,4.0,2.0,5.0,2.0,2.0,4.0,2.0,4.0,...,2.0,21,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1

In [93]:
q_tr(train)
q_te(test)

In [94]:
train

,index,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,age,hand,religion,orientation,voted,married,familysize,ASD,nerdiness,Q_m
0,0,1.0,5.0,5.0,5.0,1.0,4.0,5.0,5.0,1.0,...,20,2.0,12.0,4.0,2.0,1.0,4.0,2.0,1,69.0
1,1,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,3.0,...,49,1.0,2.0,1.0,1.0,2.0,4.0,2.0,1,59.0
2,2,4.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0,4.0,...,43,1.0,2.0,2.0,2.0,3.0,4.0,2.0,1,70.0
3,3,4.0,4.0,4.0,2.0,4.0,3.0,3.0,5.0,3.0,...,17,2.0,1.0,1.0,2.0,1.0,2.0,2.0,1,65.0
4,4,4.0,4.0,4.0,4.0,3.0,3.0,4.0,2.0,3.0,...,18,2.0,12.0,1.0,2.0,1.0,1.0,2.0,0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,14995,2.0,5.0,4.0,3.0,3.0,4.0,4.0,4.0,3.0,...,17,1.0,1.0,3.0,2.0,1.0,3.0,2.0,0,61.0
14996,14996,5.0,4.0,5.0,4.0,4.0,5.0,5.0,4.0,4.0,...,45,1.0,3.0,1.0,1.0,2.0,3.0,2.0,1,79.0
14997,14997,4.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.0,...,20,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1,94.0
14998,14998,5.0,5.0,4.0,5.0,5.0,5.0,5.0,1.0,5.0,...,29,1.0,12.0,4.0,2.0,2.0,2.0,1.0,0,81.0
14999,14999,5.0,4.0,2.0,5.0,2.0,2.0,4.0,2.0,4.0,...,21,1.0,2.0,2.0,2.0,1.0,1.0,2.0,1,63.0