In [70]:
import pandas as pd
import numpy as np
from scipy import stats
from math import ceil
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import warnings
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, f1_score, roc_auc_score
from sklearn.preprocessing import QuantileTransformer

In [71]:

#https://dacon.io/codeshare/1877
sample = pd.read_csv('sample_submission.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [72]:


country_map = {}

for i, c in enumerate(train['country'].unique()):
    country_map[c] = i
    

train['country'] = train['country'].map(country_map)
test['country'] = test['country'].map(country_map) #country열 Mapping

In [73]:
col=train.columns
col=col.tolist()
col
for i in col:
    print(i)
    print(train[i].unique())

index
[    0     1     2 ... 14997 14998 14999]
Q1
[ 1.  4.  5.  3.  2. nan]
Q2
[ 5.  4.  3.  2.  1. nan]
Q3
[ 5.  4.  3.  2. nan  1.]
Q4
[ 5.  4.  2.  3.  1. nan]
Q5
[ 1.  4.  3.  5.  2. nan]
Q6
[ 4.  5.  3.  2.  1. nan]
Q7
[ 5.  4.  3.  2.  1. nan]
Q8
[ 5.  4.  2.  3.  1. nan]
Q9
[ 1.  3.  4.  5.  2. nan]
Q10
[ 3.  4.  5.  2.  1. nan]
Q11
[ 5.  1.  2.  4.  3. nan]
Q12
[ 5.  4.  2.  3.  1. nan]
Q13
[ 5.  2.  3.  1.  4. nan]
Q14
[ 5.  3.  4.  2. nan  1.]
Q15
[ 5.  1.  4.  3.  2. nan]
Q16
[ 5.  2.  3.  1.  4. nan]
Q17
[ 5.  4.  1.  2.  3. nan]
Q18
[ 1.  5.  3.  2.  4. nan]
Q19
[ 5.  1.  4.  3.  2. nan]
Q20
[ 5.  3.  2.  4.  1. nan]
Q21
[ 1.  2.  3.  4.  5. nan]
Q22
[ 5.  1.  4.  2.  3. nan]
Q23
[ 1.  5.  2.  3.  4. nan]
Q24
[ 5.  3.  4.  1.  2. nan]
Q25
[ 1.  2.  4.  3.  5. nan]
Q26
[ 1.  5.  2.  4.  3. nan]
country
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137]
introelapse
[   3    5    9 ...  877 2428  544]
testelapse
[   553     85    108    121    640    100     88     53    164    134
     84    112     66    420    125    385     79     96    107    111
     82    141    601    176    133     99     91    153    189    131
     71     59     64     89     86     70     69     81    130    123
     93    182    143    126    105    114    146    484     68     97
     73     52    301     77    157    155    161    427    145     67
     87    425    116    103    200    124     94    457     45    187
    151    188    120   1320    299    139    138     83     74    104
    239    165    888    205    106    306    268    166     92    132
    197    101     51     80     65    142     72    109     98    150
    117    177    235    115     78    152    118    194    227    357
    147    167    102     75     90    209    286    220    110    140
    210     61    128    183    304     42    195    216    175    122
   1338    178    193    417    159    365    119    446     95     43
    204     63    218    135     62    181    921    170    158    340
   1238    163     41     48    242    127   1166 285399    180    396
   1667    217     60   3000    215    186    196    229     47    148
    179     58    828    184     57     76    821    137    156    129
     55    455    297    228    326    168    144    300    233    506
    231    208   1537    214    113    646    136    639    497    329
  12317    279    171     49   1018    160    149     56    162   1294
    203    276    369    589    314     50    325    225    310    362
    288   3481    192   1220    230    311    424    221    332    489
    478    207    223     54   1453    234    278    265   1907    238
    577     44   6920    327    206     39    519    320    219     46
   4665    587    373    377    418   1735    263    397    154    199
    428    602    491    185    901    250    289    211   3216    749
    367    562    421    198    249    191    247    236    641    260
   7407    172    293    366    201  21095    290    232   1126    677
    305    462   1233    347    364    222    292    394    766    226
   1156    281    403    856    341   1694    675   1745    374    173
    344    257    638    256    780    264    411     40    572    442
   6249   1886    169   3089    313    315    174    269    240     32
    690    544    667   3136    259    469    337    395    213    237
    353    190    323   1709    285    474    253  10249    331    312
    224    371    471    275    573    548    359    261    470    620
    911    212   2950    472     25    971    799    550   1360   1120
    294    567    608    267    280    380   1931    338    643   1982
    429    585   1476    243    381    637     37    271  25822  42166
    202    494   1228    885    333   1873    330   1507  18955    419
    502    600 127962    316   1019   2339    248   1038    389 407208
    350    558   1091    599    388    321    348    291 240022   2409
    307    487  13470    241    382   1574    245    298    700    400
    334    345    295    534   1747    375    719   8304    687    461
    530   1017     35    517    287     30    351    379    244    356
   1987    414    671 474572    867    302   2700    339    335    609
    272    695    664   1052    266    624   1101    354    283    498
  11164   1606    898    346    343   9384   1264    284    282    252
    836    990  31721   6048   1385    683   2863   7117    702    516
    441    324    943    398    776    939    596    645   1061   2819
   8663    767    376    742  71644    618    642    968    436    262
    277    662    274   1143    832   1330    413    258   1001    463
    405    623    273    880    730    440    736    246      4   1759
    998   2066    251    296    477    563   2574     33    652   1447
    415   1213    342   1581   3062   1717    660    409    771    794
    593    682    336    718    254   1094    328   5970    450    407
    423    569   1215    270   1131    467    554   2613    433    444
    604    777    303    962    668    318   9086    950    456    698
    496  20566    368    363   1381   1217    355    412    967   2119
   2221   4759   3796   1016   1842    480   1206    871   3689    679
    483    431    525    482    465   2487     36  16568    555    706
    647    384   1047   2369   2664    616    674    448    319    393
    445    352    894    715    603    818   1292  39055   2288   2956
    435    523    672    575    447    712 374744  10138   1446    349
  10723   1285  61544    468    386   3731    499      1    831   1575
   2572    358     34    426   1110   1076    453   4396   2963   5466
  17705     38    617   1367    531   1219   1054    546    439    769
  92594    452    360    392  92462  18127   1597   2954    322    308
   1711    404   1260   2126]
surveyelapse
[       6      120      100      139      216      176      164      112
      213      177      189      166       97      161      174      190
      124      209      175      230      200      129      208      207
      145      104      162      167      251      123       72      280
      158      165      152       94      125      217     1588      243
      219      179      881      308       98      210      287       78
      394      114      155      153      225      157      135      302
      170      262      431      130      118       87      103      218
      191      194      234      339      449      428      264      655
      199      109      168      237      452      121      151      173
      178      279      119      321      116      159      411      967
      106      241     3025      276       70      231      138      250
      204      301      163      341      105      192      113      122
      315       90      221      198      247      110      203      171
       85      140      353      146      134      133      142      606
      127      126      102      183      115       99      245      149
      383      205      169      184      504      254      273       93
      136       79      206      154       83      265      147      143
      320      160       67      242       80      214      472      445
      396      272      235      180      274      220      298       91
      131     1071      132      285      172      325      215      150
      144      364     3352      101      300      187       65      284
      398      227      427      293       95      188      141      270
      193      117      258      156      224       89      196      108
      148      128      512      327      181      358      314      385
      296      211      681      107      415      282      379      202
      236       74      201      299       84      186      295      577
      278      239      268      467     1217      195      483      228
       81      137       82      553      410       73      370      319
      557      684      574      286      453       23      111      223
      476      289      222      269      185      259     2464      238
      375       42     1075      485      256      561       96        4
      858      381      306      316     2136      253      252       76
      297      244      229      292      248      233      310      388
     3288      281      182      409      402      576      679       88
      737      255     2284      197      669      652    52766      309
      232      333      263      275      307      392      212      386
      347     7302      334      266      378      349      342      311
      361      551      338      329      568      471     1035      694
      313      344      593      226    27526      682       92       75
      435       86      324      369      271     2927      267      534
      563     1825     1780      469      288      490      516      240
       62      323       71      322      437      421      367      340
      412      537    14332      498      672      277      541      260
      572      815      831       68     1042       77     1093      257
      387 15166994      283      872      290        5      518      246
       66      532      389      372       58      249      348      304
      439      390      352     5565      346      951      397      305
      291      404       64      331      317       69      354      336
      544      493      261      294      495      395      366      987
      356      791     1149      459      312    51991      362      643
      326      376      457      400      318      587     3475      407
       36     1001      365      351       24      360     1500      575
      393      303      419     1572      678      377      368      480
      659     2330     1024      343      332      423      463      328
    89824     4017      726      357     2922      536      517     1119
      623      371      335      345      805     1663      573      668
      549      448      408      420      998      330      374     4125
       11     2268       54     2304      440      441      610      433
      774      384      612      350      413    18610     2354     1998
      355      565      531      601     5544      417      508      481
      530      425      470      391      658      487      401      494
       57     5662     5895     1133    68432      559   474940      363
      638      795       59      630      540      418      918      538
      416      460      497     1307      744     9139    44615      697
      474       50      779      569      406      641     5015      602
      626      514      702     1030      359      403     1455      468
      454      986     1895     1981      434      650      444      426
      380       61      337      528      633      586      611      560
      579      535      505     6279        9    68806     9276     8304
    14991      817    54573      523     2676      484      432      730
     1375      782      533      752      833    53156      414      773
      525      660      464      450     4115      521      745     1548
      510       49     4021      578      491      543      800      442
      654     1991   134393      639      814      588      455     4789
      605      653      607      424       60      382      502      729
     4774     2821     2306     1891      548    15419        3      465
      399      489      866       10      500      616     1691    51800
     1158     1184      692      422      479    28838      614        8
     1161      482     1373     4609     7489      542      545    14133
   195932      757     1732      567      997     1066      671    26384
      622      592      373      524      855      719     4274     4050
     3234    73888    76984      696      446      580      677      857
     1701     1820     1083      687     1515      731    35883     2384
     2981   175836      603     4235    11468    14276      547       52
      582     2307      783      940     1601     1735      488  3420008
     7235       25      539   173410       63      443    63205      477
      811      770      473       13      597      522      515    14249
      458    11979      520     4679  2513542      451     1043    80810]
TIPI1
[ 4.  1.  3.  5.  2. nan]
TIPI2
[ 3.  2.  1.  4.  5. nan]
TIPI3
[ 5.  3.  4.  1.  2. nan]
TIPI4
[ 1.  5.  4.  3.  2. nan]
TIPI5
[ 3.  5.  4.  2.  1. nan]
TIPI6
[ 5.  2.  3.  4.  1. nan]
TIPI7
[ 5.  3.  4.  2.  1. nan]
TIPI8
[ 3.  1.  4.  5.  2. nan]
TIPI9
[ 5.  2.  3.  4.  1. nan]
TIPI10
[ 3.  2.  1.  4.  5. nan]
VCL1
[1 0]
VCL2
[1 0]
VCL3
[0 1]
VCL4
[1 0]
VCL5
[1 0]
VCL6
[0 1]
VCL7
[0 1]
VCL8
[0 1]
VCL9
[0 1]
VCL10
[1 0]
VCL11
[0 1]
VCL12
[0 1]
VCL13
[0 1]
VCL14
[1 0]
VCL15
[1 0]
VCL16
[1 0]
education
[ 2.  4.  1.  3. nan]
urban
[1 2 3 0]
gender
[ 3.  2.  1. nan]
engnat
[ 1.  2. nan]
age
[   20    49    43    17    18    26    40    34    29    24    13    14
    16    19    15    23    32    22    25    27    33    41    21    50
    64    44    31    35    67    48    38    46    58    59    52    42
    37    55    36    45    28    47    30    39    54    53    69    57
    72    51    56    65    60    61   100    66    73    70    68   123
    62    71    78    76    63   545    74    88   722 38822    75    77
    99    81   336    80]
hand
[ 2.  1.  3. nan]
religion
[12.  2.  1.  7. 10.  3.  4.  6.  9.  5.  8. nan 11.]
orientation
[ 4.  1.  2.  5. nan  3.]
voted
[ 2.  1. nan]
married
[ 1.  2.  3. nan]
familysize
[4.000e+00 2.000e+00 1.000e+00 3.000e+00 5.000e+00       nan 8.000e+00
 6.000e+00 2.300e+01 1.300e+01 7.000e+00 2.919e+03 1.000e+01 3.900e+01
 9.000e+00 1.200e+01 1.400e+01 1.900e+01 1.600e+01 1.100e+01 1.700e+01]
ASD
[ 2.  1. nan]
nerdiness
[1 0]

In [74]:
vcl=train.iloc[:,[41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,69]]

In [75]:
vcl

,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,VCL8,VCL9,VCL10,VCL11,VCL12,VCL13,VCL14,VCL15,VCL16,nerdiness
0,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,1
1,1,1,1,1,1,0,1,0,0,1,0,0,1,1,1,1,1
2,1,1,0,1,1,0,1,1,0,1,0,0,1,1,1,1,1
3,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,1
4,1,1,0,1,1,0,0,1,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,1,1,1,1,1,0,0,0,0,1,0,1,1,1,1,1,0
14996,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,1
14997,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,1
14998,1,1,1,1,1,0,0,1,0,1,0,1,1,1,1,1,0
14999,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1

In [76]:
vcl_1=vcl[vcl['nerdiness']==1]
vcl_1

,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,VCL8,VCL9,VCL10,VCL11,VCL12,VCL13,VCL14,VCL15,VCL16,nerdiness
0,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,1
1,1,1,1,1,1,0,1,0,0,1,0,0,1,1,1,1,1
2,1,1,0,1,1,0,1,1,0,1,0,0,1,1,1,1,1
3,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,1
5,1,1,0,1,1,0,0,1,0,1,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14992,1,1,1,1,1,0,1,0,0,1,0,1,1,1,1,1,1
14994,1,1,1,1,1,0,1,0,0,1,1,0,1,1,1,1,1
14996,1,1,0,1,1,0,0,0,0,1,0,0,0,1,1,1,1
14997,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,1
14999,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1

In [77]:
vcl_0=vcl[vcl['nerdiness']==0]
vcl_0

,VCL1,VCL2,VCL3,VCL4,VCL5,VCL6,VCL7,VCL8,VCL9,VCL10,VCL11,VCL12,VCL13,VCL14,VCL15,VCL16,nerdiness
4,1,1,0,1,1,0,0,1,0,1,0,0,0,1,0,1,0
8,1,1,1,1,1,1,0,0,0,1,0,0,1,1,1,1,0
9,1,1,0,1,1,0,0,0,0,1,0,0,1,1,1,1,0
10,1,1,1,1,1,0,0,1,0,1,1,0,1,1,0,1,0
11,1,1,0,1,0,0,0,1,0,1,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14987,1,1,1,1,1,0,0,1,0,1,0,0,1,1,1,1,0
14990,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0
14993,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,1,0
14995,1,1,1,1,1,0,0,0,0,1,0,1,1,1,1,1,0
14998,1,1,1,1,1,0,0,1,0,1,0,1,1,1,1,1,0

In [94]:
def count1(df):
    result=[]
    index=df.index.tolist()
    for i in index:
        x=df.loc[i].sum()
        result.append(x-1)
    return result


def count0(df):
    result=[]
    index=df.index.tolist()
    for i in index:
        x=df.loc[i].sum()
        result.append(x-1)
    return result

In [95]:
result1=[]
result0=[]

result1=count1(vcl_1)
result0=count0(vcl_0)

In [97]:
np.mean(result1)
np.mean(result0)

8.887412274152606

In [66]:
resul

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 70 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         15000 non-null  int64
 1   Q1            14959 non-null  float64
 2   Q2            14931 non-null  float64
 3   Q3            14950 non-null  float64
 4   Q4            14929 non-null  float64
 5   Q5            14962 non-null  float64
 6   Q6            14952 non-null  float64
 7   Q7            14924 non-null  float64
 8   Q8            14952 non-null  float64
 9   Q9            14944 non-null  float64
 10  Q10           14928 non-null  float64
 11  Q11           14941 non-null  float64
 12  Q12           14933 non-null  float64
 13  Q13           14960 non-null  float64
 14  Q14           14964 non-null  float64
 15  Q15           14955 non-null  float64
 16  Q16           14967 non-null  float64
 17  Q17           14963 non-null  float64
 18  Q18           14937 non-null  float64
 19  Q19           14947 non-null  float64
 20  Q20           14955 non-null  float64
 21  Q21           14961 non-null  float64
 22  Q22           14962 non-null  float64
 23  Q23           14950 non-null  float64
 24  Q24           14939 non-null  float64
 25  Q25           14956 non-null  float64
 26  Q26           14932 non-null  float64
 27  country       15000 non-null  int64
 28  introelapse   15000 non-null  int64
 29  testelapse    15000 non-null  int64
 30  surveyelapse  15000 non-null  int64
 31  TIPI1         14947 non-null  float64
 32  TIPI2         14934 non-null  float64
 33  TIPI3         14921 non-null  float64
 34  TIPI4         14936 non-null  float64
 35  TIPI5         14930 non-null  float64
 36  TIPI6         14938 non-null  float64
 37  TIPI7         14936 non-null  float64
 38  TIPI8         14935 non-null  float64
 39  TIPI9         14936 non-null  float64
 40  TIPI10        14920 non-null  float64
 41  VCL1          15000 non-null  int64
 42  VCL2          15000 non-null  int64
 43  VCL3          15000 non-null  int64
 44  VCL4          15000 non-null  int64
 45  VCL5          15000 non-null  int64
 46  VCL6          15000 non-null  int64
 47  VCL7          15000 non-null  int64
 48  VCL8          15000 non-null  int64
 49  VCL9          15000 non-null  int64
 50  VCL10         15000 non-null  int64
 51  VCL11         15000 non-null  int64
 52  VCL12         15000 non-null  int64
 53  VCL13         15000 non-null  int64
 54  VCL14         15000 non-null  int64
 55  VCL15         15000 non-null  int64
 56  VCL16         15000 non-null  int64
 57  education     14833 non-null  float64
 58  urban         15000 non-null  int64
 59  gender        14981 non-null  float64
 60  engnat        14953 non-null  float64
 61  age           15000 non-null  int64
 62  hand          14953 non-null  float64
 63  religion      14755 non-null  float64
 64  orientation   14601 non-null  float64
 65  voted         14915 non-null  float64
 66  married       14918 non-null  float64
 67  familysize    14681 non-null  float64
 68  ASD           14911 non-null  float64
 69  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(24)
memory usage: 8.0 MB

# vcl 값에 따라서 패턴을 분석해도 좋을 것 같다. 그리고 질문지의 답에 따라서 결과값과 연관성이 있다고 판단.